<!-- resumen-reserva.component.html -->
<h2 mat-dialog-title>Resumen de la Reserva</h2>
<mat-dialog-content>
  <p><strong>Nombre:</strong> {{ data.nombre }}</p>
  <p><strong>Email:</strong> {{ data.email }}</p>
  <p><strong>DNI:</strong> {{ data.dni }}</p>
    <p><strong>Teléfono:</strong> {{ data.telefono }}</p>
  <p><strong>Fecha de Inicio:</strong> {{ data.startDate |date }}</p>
  <p><strong>Fecha de Fin:</strong> {{ data.endDate | date }}</p>
  <p><strong>Nº de huespedes:</strong> {{ data.numPersonas |number}}</p>
  <p><strong>Precio Total:</strong> {{ data.precio | currency:'EUR' }}</p>
</mat-dialog-content>
<mat-dialog-actions>
  <div *ngIf="loading" class="loading-overlay">
    <mat-spinner></mat-spinner>
  </div>
  
  <button mat-button (click)="confirmarReserva()" [disabled]="loading">Confirmar Reserva</button>
  <button mat-button (click)="onNoClick()">Cancelar</button>
</mat-dialog-actions>
